.imgBanner {
  width: calc(100vw + 10px);
  height: 300px;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}
.infosBanner {
  font-family: 'raleway', 'arial', sans-serif;
  color: white;
  position: absolute;
  top : 6rem;
  left: 2rem;
}
.infosBanner h2 {
  font-size: 2.5em;
}
.infosBanner div {
  margin-top: -32px;
  font-size: 2em;
}
@media only screen and (max-width: 900px) {
  .imgBanner {
    height: 200px;
  }
  .infosBanner {
    width: calc(100% - 24px);
    display: flex;
    justify-content: space-between;
  }
  .infosBanner h2 {
    font-size: 2em;
  }
  .infosBanner div {
    font-size: 1.5em;

    margin-top: 42px;
  }
}
