.carousel {
    position: relative;
}

.carousel-container {
    margin: 0 3rem;
    display: flex;
    gap: 2rem;
    overflow-x: hidden;
    width: 95%;
    position: relative;
}

.carousel-buttons {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    width: 2.8rem;
    height: 40%;
    border-radius: 15px;
    font-size: 2.5rem;
    padding-top: 2px;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-buttons:hover {
    font-weight: 700;
}

.previous-button {
    left: 0;
}

.next-button {
    right: 0;
}

.carousel-dots-container {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.carousel-dots {
    display: none;
    background-color: var(--primary-color);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-top: 25px;
    cursor: pointer;
}


/*TODO faire en sorte que la margin disparaisse au début après le scroll*/
/*TODO version desktop : enlever scrollbar, afficher boutons et dots*/

/* Responsive Media Queries */
@media only screen and (min-width: 768px) {

    .carousel-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-dots {
        display: inline;
        width: 1rem;
        height: 1rem;
        margin-top: 40px;
    }

}