<section>
<div class="carousel">
  <div class="carousel-container">
    @for (event of eventArrayData; track $index) {
    <app-carousel-card
      [title]="event.nom_de_la_manifestation"
      [tag]="event.categorie_de_la_manifestation"
      [date]="event.date_debut"
      [location]="event.commune"
      [price]="event.tarif_normal"></app-carousel-card>
    }
  </div>

  <button class="carousel-buttons previous-button" (click)="GoPrevious()">&#8249;</button>
  <button class="carousel-buttons next-button" (click)="GoNext()">&#8250;</button>
</div>

  <div class="carousel-dots-container">
    <div class="carousel-dots"></div>
    <div class="carousel-dots"></div>
    <div class="carousel-dots"></div>
  </div>

</section>
