<main>
  <header>
    <p>Header</p>
    <a routerLink="home/list">Version liste</a>
    <a routerLink="home/map">Version carte</a>
  </header>
  <app-map-page class="maps" [points]="allEvent"></app-map-page>
  <app-carousel-card></app-carousel-card>
  

  <footer>Footer</footer>
</main>
