<article class="carousel-card">
  <img src="../../assets/festival2.png" alt="event image" />

  <div class="carousel-card-content">
    <div class="carousel-card_tag">
      <h2 class="tag_title">{{tag}}</h2>
    </div>
    <div class="carousel-card-info">
      <p class="date">{{date | date : 'dd/MM/yyyy'}}</p>
      <h1 class="title">{{title}}</h1>
      <p class="location">- {{location}}</p>
      <p class="price">{{price}}</p>
    </div>
  </div>
</article>
