.carousel-card {
    border-radius: 12px;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    color: var(--secondary-color);
    background-color: black;
    /*permet d'assombrir l'image. TODO faire un dégradé vers transparent*/
}

.carousel-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    opacity: 90%;
    /*assombri l'image grâce au background de la carte*/
}

.carousel-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8px 15px;
    font-weight: 600;
}

.carousel-card-info .title {
    margin: 5px;
    font-size: 1.4rem;
    padding: 3px 0;
}

.carousel-card-content .date,
.price {
    font-size: 0.9rem;
}

.carousel-card-info p {
    margin: 5px;
}

.carousel-card_tag {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.5rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}

.carousel-card_tag .tag_title {
    margin: 0;
    font-weight: 500;
}


/* Responsive Media Queries */

@media only screen and (min-width: 768px) {
    .carousel-card {
        width: 370px;
        height: 250px;
    }

    .carousel-card-content {
        margin: 16px 15px;
    }

    .carousel-card-info .title {
        font-size: 1.6rem;
    }

    .carousel-card-content .date {
        font-size: 1.2rem;
    }

    .carousel-card-content .price {
        font-size: 1rem;
    }

    .carousel-card-content .location {
        font-size: 1.3rem;
    }

    .carousel-card_tag {
        font-size: 0.7rem;
    }
}