section {
  margin-top: -12px;
  margin-left: -10px;
  overflow-x: hidden;
}
.respMid {
  display: flex;
  margin-bottom: -64px;
}
/* .info {
  width: 60vw;
} */
.map-frame {
  height: 100%;
  z-index: -1;
}
.map {
  width: 45vw;
  margin-right:6vw ;
  z-index: -5;
  display: flex;
}
h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1280px) {
  .respMid {
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
  .map-frame {
    margin-left: 4vw;
    height: 100%;
    width: 90vw;
  }
}
