<div class="top-header">
    <div class="logo-mobile-container">
        <a routerLink="map">
            <img class="logo" src="../../assets/logo.png" alt="logo">
        </a>
    </div>
    <h1 class="app-title">{{app_title}}</h1>
</div>