.top-header {
    display: grid;
    /* Cette ligne indique 4 colonnes, chacune prenant 1 fraction (fr) de l'espace disponible */
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background: hsla(25, 100%, 50%, 1);
    background: radial-gradient(circle, hsla(25, 100%, 50%, 1) 18%, hsla(0, 94%, 57%, 1) 88%);
    background: -moz-radial-gradient(circle, hsla(25, 100%, 50%, 1) 18%, hsla(0, 94%, 57%, 1) 88%);
    background: -webkit-radial-gradient(circle, hsla(25, 100%, 50%, 1) 18%, hsla(0, 94%, 57%, 1) 88%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FE6800", endColorstr="#F82A2A", GradientType=1 );
    z-index: 100;
}

.logo {
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-height: 5rem;
}

.app-title {
    font-size: 2rem;
    color: white;
    /* Pour que le titre ne reviennent pas à la ligne */
    white-space: nowrap;
    grid-column: 2;
    grid-row: 1;
}

/* Pour le responsive : */

@media screen and (max-width: 768px) {

    /* Styles à appliquer pour les écrans de téléphones */
    .top-header {
        background: var(--background-color)
    }

    .app-title {
        color: var(--text-color);
        padding-left: 2rem;
        font-size: 1.5rem;
    }

    .logo {
        padding-top: 1rem;
        block-size: 3rem;
        background-color: var(--primary-color);
    }
}