section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  min-width: 780px;
  margin: 2em 0 0 4vw;
}
.mainAller h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.5);
}
.mainAller p{
    font-size: 1.5em;
    color: var(--text-color);
  
  }