.month-act-title {
    margin-left: 3rem;
}
.search-section {
    background-color: white;
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.content-holder {
    display: flex;
    height: 50rem;
    justify-content: space-evenly;
}
.card-list-container {
    margin: 2rem;
}
.maps {
    width: 55rem;
    height: 120vh;
}
.map-container {
    overflow: hidden;
    width: 60vw;
    margin-top: 32px;
}
@media only screen and (max-width: 1280px) {
    
    .map-frame {
      margin-left: 4vw;
      height: 100%;
      width: 90%;
    }
  }