<main class="all-view">
    <section class="top-section">
        <h2 class="month-act-title">Activités du mois</h2>>
        <div class="carousel-holder">
            <app-carousel></app-carousel>
        </div>
        <div class="search-section">
            Ceci est un filtre de recherche o-
        </div>
    </section>
    <section class="content-holder">
        <div class="card-list-container">
            <app-event-card class="maps"></app-event-card>
        </div>
        <div class="map-container">
            <app-map-page class="maps"  [points]="allEvent"></app-map-page>
        </div>
    </section>
</main>