.footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    z-index: 5;
}

.footer-mobile {
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    color: white;
}

.map_icon {
    width: 2rem;
}

.list_icon {
    width: 2rem;
}

@media screen and (min-width: 768px) {
    /* Styles à appliquer pour les écrans d'ordinateurs */
    .hidden {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    /* Styles à appliquer pour les écrans d'ordinateurs */
    .copyright {
        display: none;
    }
}