<div class="footer">
    <div class="hidden">
        <div class="footer-mobile">
            <a routerLink="list"><img class="list_icon" src="../../assets/MenuList.svg" alt="bouton vue liste" /></a>
            <a routerLink="map"><img class="map_icon" src="../../assets/MenuMap.svg" alt="Bouton vue carte" /></a>
        </div>
    </div>
    <p class="copyright">Copyright : SOS Carnage</p>
</div>