<main class="main">
  <app-header class="app-header"></app-header>
  <div class="blank1"></div>
  <router-outlet class="body-content"/>
  <div class="blank2"></div>
  <div class="footer-content">
    <app-footer></app-footer>
  </div>
</main>

<!-- Details 
Homepage -->

  <!-- <h1>Activités du mois</h1>
  <app-carousel [eventArrayData]="monthEventArray.results"></app-carousel>
  <app-event-card></app-event-card>

  <app-map-page class="map" [points]="allEvent"></app-map-page>
</main> -->
