<section>
  <div class="infoMain">
    <div class="infosLeft">
      <div>
        <img class="infoSvg" src="/assets/Placeholder2.svg" alt="" />
        {{ eInfos.commune }}
      </div>
      <div>
        @if (eInfos.tarif_enfant) {
        <img class="infoSvg" src="/assets/Euro2.svg" alt="" />Tarif normal :{{
        eInfos.tarif_normal }} -Tarif enfants : {{ eInfos.tarif_enfant }} }
        @else if (eInfos.tarif_normal) {
        <img class="infoSvg" src="/assets/Euro2.svg" alt="" />Tarif : {{
        eInfos.tarif_normal }} } @else {
        <img class="infoSvg" src="/assets/Euro2.svg" alt="" />Tarif : Gratuit }
      </div>
      <div>
        @if (eInfos.reservation_site_internet) {
        <img class="infoSvg" src="/assets/Link.svg" alt="" />
        <a href="https://{{ eInfos.reservation_site_internet }}">Visiter le site</a>
        }
      </div>
    </div>
    <div class="infosRight">
      @if (eInfos.type_de_manifestation) {
      <div>{{ eInfos.type_de_manifestation }}</div>
      } @if (eInfos.categorie_de_la_manifestation) {
      <div>{{ eInfos.categorie_de_la_manifestation }}</div>
      } @if (eInfos.theme_de_la_manifestation) {
      <div>{{ eInfos.theme_de_la_manifestation }}</div>
      }
    </div>
  </div>
  <div class="aPropos">
    <h3>A propos</h3>
    <p>{{ eInfos.descriptif_long }}</p>
  </div>
</section>
