section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  min-width: 670px;
  margin: 2em 0 0 3vw;
}
.infoMain{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  width: 100%;
  border-radius: 0.5em;
  height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);

}
.infosRight {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 25rem;
}
.infosRight div {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(0, 0, 0, 0.4);
  border-radius: 32px;

  font-size: 0.75em;
  padding: 8px;
  height: auto;
  width: 296px;
  margin-left: 32px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}
.infosRight :first-child {
  background-color: rgba(255, 191, 102, 0.5);
}
.infosRight :nth-child(2) {
  background-color: rgba(255, 104, 0, 0.5);
}
.infosRight :last-child {
  background-color: rgba(255, 26, 26, 0.5);
}
.infosLeft {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.75em;
  height: 90%;
  width: 40%;
}
.infosLeft div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a {
  color: rgba(0, 0, 0, 0.5);
}
.infoSvg {
  height: 32px;
  width: 32px;
}
.aPropos{
  padding-left: 16px;
  width: 90%;
  min-width: 680px;
}
.aPropos h3{
  font-size: 3em;
  color: rgba(0, 0, 0, 0.5);
}
.aPropos p{
  font-size: 1.5em;
  color: var(--text-color);
  width: 90%;


}
@media only screen and (max-width: 1280px) {
  section{
    width: 100%;
  }
}