#map {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 80vh;
  width: 100%
}


@media only screen and (max-width: 1280px) {
  #map {
    height: 40vh;
    width: auto;

  }
}
