.eventCard-main-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 45rem;
  overflow-y: scroll;
}

.eventCard-card-container {
  height: 153px;
  width: 97%;
  border-radius: 5px;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin-inline: 0.8rem;
  margin-block-start: 0.8rem;
}

.eventCard-p {
  font-size: 1rem;
  margin: 0;
}

.eventCard-icon {
  height: 1rem;
  width: auto;
  padding-inline-start: 0.2rem;
  padding-inline-end: 0.4rem;
}

/* LEFT SIDE */
.eventCard-img-container {
  height: 153px;
  min-width: 153px;
  max-width: 153px;
  overflow: hidden;
}

.eventCard-thumbnail {
  border-radius: 3px;
  width: auto;
}

/* RIGHT SIDE */
.eventCard-info-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
/* Title */
.eventCard-title-container {
  font-weight: 600;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.eventCard-title {
  text-align: center;
}

/* Tags */
.eventCard-tag {
  display: none;
}

/* Date */
.eventCard-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block-end: 0.2rem;
}

/* Location */
.eventCard-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block-end: 0.2rem;
}

/* Description */
.eventCard-desc-short {
  max-height: 4.8rem;
  padding-inline-start: 0.2rem;
  overflow: hidden;
}

/* "En Savoir Plus" */
.eventCard-show-details {
  display: none;
}

/* SMARTPHONE & TABLETS '...' */
@media screen and (max-width: 678px) {
  /* styles for '...' */
  .eventCard-short-description {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    padding-right: 1em;
  }

  /* create the ... */
  .eventCard-short-description:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }

  /* hide ... if we have text, which is less than or equal to max lines */
  .eventCard-short-description:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .eventCard-main-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }

  .eventCard-p {
    font-size: 1rem;
    margin: 0;
    text-align: justify;
  }

  .eventCard-card-container {
    height: 236px;
    max-width: 556px;
  }

  /* LEFT SIDE */
  .eventCard-img-container {
    height: 236px;
    max-width: 236px;
    min-width: 236px;
    overflow: hidden;
  }

  .eventCard-thumbnail {
    width: 100%; 
    object-fit: cover;
  }

  /* RIGHT SIDE */
  .eventCard-info-container {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    position: relative;
  }

  /* Title */
  .eventCard-title-container {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block-end: 0.6rem;
  }

  .eventCard-title {
    text-align: center;
  }

  /* Tags */
  .eventCard-tag {
    display: block;
  }

  /* Date & Location container */
  .eventCard-date-and-location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Date */
  .eventCard-date {
    padding-block: 0.6rem;
  }

  /* Location */
  .eventCard-location {
    padding-block: 0.6rem;
  }

  /* Description */
  .eventCard-desc-short {
    max-height: 5rem;
    overflow: hidden;
  }

  /* "En Savoir Plus"  */
  .eventCard-show-details {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .eventCard-show-details-p {
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-block-start: 0.5rem;
  }
}
