<section class="eventCard-main-container">
  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
  @for (n of eventArray.results; track n) {
  <a [routerLink]="['/details', n.identifiant]">
    <div class="eventCard-card-container">
      <div class="eventCard-img-container">
        <img class="eventCard-thumbnail" src="https://picsum.photos/200/300" alt="Event picture" />
      </div>
      <div class="eventCard-info-container">
        <div class="eventCard-title-container">
          <p class="eventCard-title eventCard-p">
            {{ n.nom_de_la_manifestation }}
          </p>
        </div>
        <div class="eventCard-tag">
          <p class="eventCard-p">{{ n.type_de_manifestation }}</p>
        </div>
        <div class="eventCard-date-and-location-container">
          <div class="eventCard-date">
            <img class="eventCard-icon" src="./../../../assets/calendar.png" alt="calendar icon" />
            <p class="eventCard-p">{{ n.date_debut }}</p>
          </div>
          <div class="eventCard-location">
            <img class="eventCard-icon" src="./../../../assets/placeholder.png" alt="location icon" />
            <p class="eventCard-p">{{ n.commune }}</p>
          </div>
        </div>
        <div class="eventCard-desc-short">
          <p class="eventCard-short-description eventCard-p">
            {{ n.descriptif_court }}
          </p>
        </div>
        <div class="eventCard-show-details">
          <p class="eventCard-show-details-p">En savoir plus</p>
        </div>
      </div>
    </div>
  </a>
  }
  <!-- <app-pagination></app-pagination> -->
</section>