@font-face {
    font-family: Raleway;
    src: url(https://fonts.google.com/specimen/Raleway) format("opentype");
  }
:root {

    --primary-color: #FE6800;
    --secondary-color: #ffffff;
    --background-color: #f9f9f9;
    --text-color: #2D2D2D;
    
}

html {
    font-family: "Raleway", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    text-decoration: none;
    color: var(--text-color);
}